upstream kube-apiserver {
{% for master in masters %}
    server {{ master }}:8080;
{% endfor %}
}
server {
    listen          8080;
    location / {
        proxy_pass  http://kube-apiserver;
    }
}
