upstream etcd {
{% for master in masters %}
{% if loop.first %}
    server {{ master }}:2379;
{% else %}
    server {{ master }}:2379 backup;
{% endif %}
{% endfor %}
}
server {
    listen          2379;
    location / {
        proxy_pass  http://etcd;
    }
}

